<GridLayout rows="auto,auto,auto">
    <StackLayout row="0" class="field-box">
        <TextField class="input" maxLength="50" [(ngModel)]="firstName" hint="firstName"></TextField>
    </StackLayout>
    <StackLayout row="1" class="field-box">
        <TextField class="input" maxLength="50" [(ngModel)]="lastName" hint="lastName"></TextField>
    </StackLayout>
    <StackLayout row="2">
    <Button text="ADD Payment" (tap)="next()"></Button>
</StackLayout>
</GridLayout>