<StackLayout>
        <TextField hint="Enter customerID" [(ngModel)]="customerID"></TextField>
        <Button text="enter" (tap)="enter()"></Button>
        <Button text="clear" (tap)="clear()"></Button>
</StackLayout>