<GridLayout rows="auto,auto,auto,auto">
        <StackLayout row="0" class="field-box">
                <TextField class="input" maxLength="16" [(ngModel)]="cardNo" hint="CardNo."></TextField>
        </StackLayout>
        <StackLayout row="1" class="field-box">
                <TextField class="input" maxLength="10" [(ngModel)]="date" hint="Expiry Date"></TextField>
        </StackLayout>
        <StackLayout row="2" class="field-box">
                <TextField class="input" maxLength="3" [(ngModel)]="cvv" hint="CVV"></TextField>
        </StackLayout>
        <button row="3" text="Add" (tap)="addData()"></button>
</GridLayout>