<StackLayout>
        <ListView [items]="people">
                <ng-template let-item="item" let-i="index" nsTemplateKey="CASH">
                        <StackLayout orientation="horizontal" (tap)="onItemTap(i)">
                                <StackLayout (tap)="setDefaultPayment(item)">
                                        <CheckBox class="checkbox" android:fillColor="orange" *ngIf="item.defaultMethod === true"
                                                [checked]="item.defaultMethod" boxType="circle"></CheckBox>
                                        <CheckBox class="checkbox" android:fillColor="orange" (tap)="setDefaultPayment(item)"
                                                [checked]="item.defaultMethod" *ngIf="item.defaultMethod === false"
                                                boxType="circle"></CheckBox>
                                </StackLayout>
                                <StackLayout>
                                        <Label verticalAlignment="center" [text]="item.maskedNumber"></Label>
                                </StackLayout>
                        </StackLayout>
                </ng-template>
        </ListView>
        <StackLayout>
                <TextField hint="amount" [(ngModel)]="amount"></TextField>
                <Button text="Pay" (tap)="paymentCheckout()"></Button>
        </StackLayout>
</StackLayout>