<StackLayout>
    <TextField hint="amount" [(ngModel)]="amount"></TextField>
    <!-- <Label text="" textWrap="true"></Label> -->
    <Button text="start" (tap)="callBrainTree()"></Button>
    
</StackLayout>